body {
    background-image: linear-gradient(#aeb3ff, #fef4ff);
    background-attachment: fixed;
    margin: auto;
    width: 50%;
    Font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: bold;
}

img {
    float: right;
    width: 45%;
    height: 100%;
}

canvas {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#star {
    order: 1;
    height: 40px;
    width: 40px;
    padding: 10px;
}

#name {
    order: 1;
}

a, a:visited {
    color: #6769d0;
}

.main {
    background-color: #F5F5FF;
    padding: 10px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center
}

#footer {
    background-color: transparent;
    color: #6769d0;
    font-style: italic;
    font-size: 90%;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

img[src$=".gif"], img[src$=".png"] {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}