body {
    background-image: linear-gradient(#7D84B2, #D9DBF1);
    background-attachment: fixed;
    margin: auto;
    width: 50%;
    Font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: bold;
}

img {
    float: right;
    width: 45%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#star {
    order: 1;
    height: 75px;
    width: 75px;
}

#name {
    order: 1;
}

a, a:visited {
    color: #566DB3;
}

.main {
    background-color: #D9DBF1;
    padding: 10px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center
}

#footer {
    background-color: transparent;
    color: #566DB3;
    font-style: italic;
    font-size: 90%;
    font-weight: 100;
    position: fixed;
    bottom: 0px;
    text-align: center;
}
